<div class="container">
  <div class="header">
    <h2>{{ pageLabel }}</h2>
  </div>
  <div class="register-form">
    <mat-form-field apperance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput [formControl]="username" required/>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="username.invalid"> {{ getUsernameErrorMessage() }} </mat-error>
    </mat-form-field>
    <mat-form-field apperance="outline">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput [formControl]="password" required />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid"> {{ getPasswordErrorMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showRetypePassword" apperance="outline">
      <mat-label>Retype password</mat-label>
      <input [type]="hide ? 'password' : 'text'"  matInput [formControl]="retypedPassword" required />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field class="demo-full-width" *ngIf="showRole" apperance="outline">
      <mat-label>Choose role</mat-label>
      <mat-select [formControl]="role" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let roleKey of roleKeys" [value]="roleEnum[roleKey]">
          {{ roleKey }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="showFirstName" apperance="outline">
      <mat-label>Firstname</mat-label>
      <input type="text" matInput [formControl]="firstname" required />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="showLastName" apperance="outline">
      <mat-label>LastName</mat-label>
      <input type="text" matInput [formControl]="lastname" required />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="showEmail" apperance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="email" required />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="showAge" apperance="outline">
      <mat-label>Age</mat-label>
      <input type="number" matInput [formControl]="age" required />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="showProfileAvatar" apperance="outline">
      <mat-label>Avatar</mat-label>
      <input type="text" matInput [formControl]="profileAvatar" required />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <button mat-raised-button (click)="onSubmit()" color="primary"> {{ submitLabel }} </button>
  </div>
</div>