.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

h2 {
  letter-spacing: normal;
  margin: 0 0 50px;
  font-size: 3rem;
  text-shadow: #373636 0px 3px 5px;
}

.register-form{
  background-color: #212121;
  padding: 50px;
  border-radius: 10px;
  box-shadow: #373636 0px 10px 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

mat-icon{
  color: #fff;
}

button {
  margin-top: 1rem;
}