.container{
  display: flex;
  flex-direction: row;
  
  padding: 20px;
  &__organizer {
    display: inherit;
    flex-direction: row;
    flex-flow: wrap;
    align-items: baseline;
    margin: 50px;
  }
}